<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META name="keywords" content="地點記, Android App">
<META name="description" content="地點記 MineMap : 隨手記錄生活地圖">
<title>地點記 </title>
<link rel="shortcut icon" href="favicon.ico">
<style type="text/css">
<!--

-->
</style>

<link href="index2011.css" rel="stylesheet" type="text/css" />
</head>


<body>

<div id="header" style="margin-top: 50px;">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="240"><%=  image_tag("logo.png", :width =>240, :height => 43) %></td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
<div id="container" style="margin-top: 40px;"> 
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><%=  image_tag("thanks.jpg", :width =>960, :height =>400 )  %></td>
  </tr>
</table>
</div>
<div id="footer" style="margin-top:100px;"><table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><%=  image_tag("android2.png", :width =>24, :height =>24 )  %>&nbsp;&nbsp;<%=  image_tag("apple3.png", :width =>24, :height =>24 )  %></td>
    <td width="700" align="right" class="footerContent"><font color="#475868">版權所有 © 2011 地點記 ﹣ humblelivlybear@gmail.com ﹣ HumbleLivlyBear All Rights Reserved.</font></td>
  </tr>
</table>
</div>
  





</body>
</html>